<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/img/icons/book_icon.png" />



    <title>Home</title>
     <link href="/css/app.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<div class="wrapper">


    <div class="main">

        <nav class="navbar navbar-expand navbar-light navbar-bg">


            <a class="sidebar-toggle js-sidebar-toggle"></a>



            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align mx-auto ">
                    <a class="navbar-brand brand" href="/">
                        <img src="/img/photos/cover.png" alt="Library Online">
                    </a>
                </ul>

                <ul class="navbar-nav navbar-align ">
                    <li class="nav-item d-flex align-items-center">
                        <a class="dropdown-item" onclick="showCart()" th:if="${session.fullName != null}"><i class="align-middle me-1" data-feather="shopping-cart"></i></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>
                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                            <img src="/img/avatars/Ngan.jpg" class="avatar img-fluid rounded me-1" alt="User's avatar" />
                            <span class="text-dark" th:text="${session.fullName}" th:unless="${session == null}"></span>
                            <span class="text-dark" th:text="Guest" th:unless="${session.fullName != null}"></span>
                        </a>
                        <div th:if="${session.fullName != null}" class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i>Profile</a>
                            <a class="dropdown-item" href="/purchase"><i class="align-middle me-1" data-feather="shopping-bag"></i>My Purchase</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/login">Logout</a>
                        </div>
                        <div th:if="${session.fullName == null}" class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/login">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="showCart" id="showCart">
            <div class="card mb-4 d-flex justify-content-end">
                <div class="card-header py-3 text-center">
                    <h5 class="mb-0 card-title" th:text="Cart">Cart</h5>
                </div>
                <div class="card-body" id="myCart" style="background-color: white">

                </div>
            </div>
        </div>

        <main class="content">
            <div class="container-fluid p-0 ">

                <div class="row d-flex justify-content-center">
                    <div class="row " th:classappend="${role == 1} ? 'w-75' : 'w-75' ">
                        <div class="col-8 ">
                            <h1>List Books</h1>
                        </div>
                        <div class=" col-4 d-flex justify-content-end align-items-center ">
                            <a th:href="@{/book/add}" class="btn btn-success d-flex justify-content-end " th:if="${role == 1}">ADD BOOK</a>
                        </div>
                    </div>
                </div>


                <div class="row  d-flex justify-content-center">


                    <table class="table table-striped table-bordered table-hover" th:classappend="${role == 1} ? 'w-75' : 'w-75' ">

                        <thead class="table-dark">
                        <tr class="text-center ">
                            <th class="col">ID</th>
                            <th class="col-2">BOOK COVER</th>
                            <th class="col">TITLE</th>
                            <th class="col">AUTHOR</th>
                            <th class="col">CATEGORY</th>
                            <th class="col">PRICE</th>
                            <th class="col-2" th:if="${session.username != null}">Action</th>

                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each = "book: ${books}" th:unless="${books == null}" class="item" >
                            <td  th:text="${book.id}" th:onclick=" |window.location.href= '/book/${book.id}'| "></td>
                            <td class="d-flex justify-content-center"><img th:src="@{${book.getBookCoverPath()}}" id="image-preview" class="" width="50px" height="75px" th:onclick=" |window.location.href= '/book/${book.id}'| "></td>
                            <td th:text="${book.title}" th:onclick=" |window.location.href= '/book/${book.id}'| "></td>
                            <td th:text="${book.author}" th:onclick=" |window.location.href= '/book/${book.id}'| "></td>
                            <td th:text="${book.category}" th:onclick=" |window.location.href= '/book/${book.id}'| "></td>
                            <td th:onclick=" |window.location.href= '/book/${book.id}'| ">$<span th:text="${book.price}"></span></td>

                            <td th:if="${session.username != null}">
                                <div class="row justify-content-around d-flex justify-content-center d-inline-block">
<!--                                    <button th:onclick="| window.location.href='/add-purchase-item/${book.id}' |"-->
<!--                                       class="btn btn-success col m-1  "  th:if="${session.role == 0}"><i class="align-middle me-1" data-feather="shopping-cart"></i></button>-->
                                    <input type="number" class="form-control col m-1 text-center" min="1" max="20" value="1" th:if="${session.role == 0}" onchange="checkQuantity(this)"/>
                                    <button onclick="addToCard(this)"
                                            class="btn btn-success col m-1  "  th:if="${session.role == 0}"><i class="align-middle me-1" data-feather="shopping-cart"></i></button>
                                    <a th:href="@{book/{id}(id=${book.id})}"
                                       class="btn btn-success col m-1 " role="button" th:if="${session.role == 1}">View</a>
                                    <a th:href="@{delete/{id}(id=${book.id})}"
                                       class="btn btn-danger col m-1 " role="button" th:if="${session.role == 1}" onclick="return confirm('Do you want to delete the book?')">Delete</a>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">

                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">

                            </li>
                            <li class="list-inline-item">

                            </li>
                            <li class="list-inline-item">

                            </li>
                            <li class="list-inline-item">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<div style="text-align: center; margin-top: 50px;">
    <div id="snackbar"></div>
</div>

<script>

</script>
<script src="/js/app.js"></script>
<script src="/js/my.js"></script>
<script>
    function checkQuantity(x){
        if(x.value > 99) x.value = 99;
        if(x.value < 1) x.value = 1;
    }
</script>

</body>

</html>